/*-- scss:defaults --*/

// FONTS
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

$presentation-heading-font: "JetBrains Mono", sans-serif !default;

// Custom colours and variables
$jet: #131516;
$accent: #107895;
$accent2: #9a2515;
$right-arrow: "\2192"; // Unicode character for right arrow
$linkcolour: #00ffff;

// colors
$body-bg: #003350 !default;
$body-color: #fffae6 !default;
$link-color: $linkcolour !default;


/*-- scss:rules --*/

// title and headings
#title-slide {
  text-align: center;

  .title {
    color: $body-color;
    font-size: 2.2em;
    font-weight: 350;
  }

  .subtitle {
    color: $accent;
    font-style: italic;
  }

  // Authors in horizontal row
  .quarto-title-authors {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }

  .quarto-title-author {
    text-align: center;
    white-space: nowrap;
  }

  .quarto-title-author-name {
    color: $body-color;
    font-size: 1.0em;
    white-space: nowrap;
  }
}

.reveal.mermaid text {
  text-anchor: middle !important;
  dominant-baseline: middle !important;
}

// Increase logo size
.reveal .slide-logo {
  max-height: 80px !important; // Default is usually 48px
  height: 80px !important;
}

/*-- Get rid of column margins - quarto revealjs has strange behaviour --*/
.reveal .columns> {

  .column,
  .column:last-child {

    > :not(ul, ol) {

      margin-left: 0em;
      margin-right: 0em;
    }

    >ul,
    >ol {
      margin-left: 0em;
      margin-right: 0em;
    }
  }
}